<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87305218-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-87305218-2');
    </script>

  </head>
  <body>
    <section class="main container-fluid">
      <div class="row">
        <header class="header col-6 col-sm-4 col-md-3 col-lg-2">
          <!-- Apagar div prospeccoes e afetivas -->
          <a href="/"><p class="txt-left">EmMeio#12.0</p></a>
          <a href="/"><img src="/assets/logo-emmeio.png"></a>
          
          <div class="menu d-none d-sm-block">
            <p><a href='/sobre' class="mainsidebar">sobre/about</a></p>
            <p><a href='/performances' class="mainsidebar">performances</a></p>
            <p><a href='/ficha-tecnica' class="mainsidebar">ficha técnica</a></p>
          </div>
          
          <span class="menu d-none d-sm-block">
            <p>PRODUÇÃO</p>
            <ul>
              <li><a href="http://medialab.unb.br/" target="_blank"><img width="100" src="/assets/logos/logo03.svg"></a></li>
              <li><a href="http://eventos.medialab.ufg.br/" target="_blank"><img width="100" src="/assets/logos/logo00.svg"></a></li>

            </ul>
            <p>APOIO</p>
            <div class="row">
              <div class="col">
                <img width="65" src="/assets/logos/logo01.svg">
                <img width="65" src="/assets/logos/logo02.svg">
                <img width="65" src="/assets/logos/logo04.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo05.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo06.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo07.svg">
                <img width="65" src="/assets/logos/logo08.svg">
                <img width="65" src="/assets/logos/logo09.svg">
                <img width="65" src="/assets/logos/logo10.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo11.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo12.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo13.svg">
                <img width="65" src="/assets/logos/logo14.svg">

              </div>
              <div class="col">
                <img width="65" src="/assets/logos/logo15.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo16.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo17.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo18.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo19.svg">
                <img width="65" src="/assets/logos/logo20.svg">
                <img width="65" src="/assets/logos/logo21.png"> <br><br><br>
                <img width="65" src="/assets/logos/logo22.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo23.svg">
                <img width="65" src="/assets/logos/logo24.svg">
                <img width="65" src="/assets/logos/logo25.svg">
                <img width="65" src="/assets/logos/logo26.svg">
                <img width="65" src="/assets/logos/logo27.svg">

              </div>
            </div>
          
          </span>
        </header>
        <main class="content col col-sm-8 col-md-9 col-lg-10">
          {{ content }}
        </main>
        <header class="header d-block d-sm-none col-6 col-sm-4 col-md-3 col-lg-2">
          <!-- MOBILE -->
          <script>
             function openNav() {
               document.getElementById("mySidenav").style.width = "12em";
               document.getElementById("menuFloat").style.display = "none";

             }

             function closeNav() {
               document.getElementById("mySidenav").style.width = "0";
               document.getElementById("menuFloat").style.display = "block";

             }
            </script>

           <section class="menuMob">
              <a onclick="openNav()" >
              <p id="menuFloat"><b>≡ </b> </p>
              </a>
           </section>

          <div id="mySidenav" class="sidenav">
             <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <a href='/sobre'>sobre/about</a>
             <a href='/performances'>performances</a>
             <a href='/ficha-tecnica'>ficha técnica</a>
          </div>

          <span class="menu">
            <p>PRODUÇÃO</p>
            <div class="row" style=" width: 300px; ">
              <div class="col">
                <a href="http://eventos.medialab.ufg.br/" target="_blank"><img width="100" src="/assets/logos/logo00.svg"></a>
              </div>
              <div class="col">
                <br><br><br>
                <a href="http://medialab.unb.br/" target="_blank"><img width="100" src="/assets/logos/logo03.svg"></a>
              </div>
            </div>
            
            <p>APOIO</p>

            <div class="row" style=" width: 300px; ">
              <div class="col">
                <img width="65" src="/assets/logos/logo01.svg">
                <img width="65" src="/assets/logos/logo02.svg">
                <img width="65" src="/assets/logos/logo03.svg"><br><br><br> 
                <img width="65" src="/assets/logos/logo05.svg"><br><br><br> 
                <img width="65" src="/assets/logos/logo06.svg"><br><br><br> 
                <img width="65" src="/assets/logos/logo07.svg">
                <img width="65" src="/assets/logos/logo08.svg">
                <img width="65" src="/assets/logos/logo16.svg"> <br><br><br>
                <img width="65" src="/assets/logos/logo21.png">



              </div>
              
              <div class="col">
                <img width="65" src="/assets/logos/logo10.svg"> <br><br><br> 
                <img width="65" src="/assets/logos/logo11.svg"><br><br><br> 
                <img width="65" src="/assets/logos/logo12.svg"><br><br><br> 
                <img width="65" src="/assets/logos/logo13.svg"><br><br><br> 
                <img width="65" src="/assets/logos/logo14.svg"><br><br><br> 
                <img width="65" src="/assets/logos/logo15.svg">
                <img width="65" src="/assets/logos/logo26.svg">


              </div>
              
              <div class="col">
                <img width="65" src="/assets/logos/logo18.svg"> <br><br><br> 
                <img width="65" src="/assets/logos/logo19.svg">
                <img width="65" src="/assets/logos/logo20.svg">
                <img width="65" src="/assets/logos/logo22.svg">
                <img width="65" src="/assets/logos/logo17.svg">
                <img width="65" src="/assets/logos/logo09.svg">
                <img width="65" src="/assets/logos/logo24.svg">
                <img width="65" src="/assets/logos/logo25.svg">
                <img width="65" src="/assets/logos/logo23.svg">


              </div>


            
            </div>
          </span>
        </header>
      </div>
      <div class="row">
        <footer class="footer col-sm">2020 por Artur Cabral e Joenio Costa.</footer>
      </div>
    </section>
    
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
  </body>
</html>
